/* 默认样式，适用于大屏幕（桌面设备） */
#selected-data-box {
  border: 1px solid #d3d3d3; /* 修改边框颜色 */
  border-radius: 10px;
  padding: 10px; /* 上下左右均设置相同 */
  width: 200px;
  min-height: 100px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 垂直居中内容 */
  align-items: flex-start; /* 水平对齐开始 */
}
/* 标题样式 */
#selected-data-box strong {
  display: block;
  font-size: 20px;
  color: #333;
  margin: 0 0 5px 0; /* 下边距 */
  line-height: 1.2; /* 设置行高 */
}
/* 股票名称样式 */
#selected-data-box .stock-name {
  font-size: 16px;
  color: #555;
  line-height: 1.2;
  margin-bottom: 10px;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏超出部分 */
  text-overflow: ellipsis; /* 超出部分显示省略号 */
  width: 100%; /* 确保宽度为父容器宽度 */
}
/* 价格和涨跌幅的容器样式 */
#selected-data-box .price-change-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* 使容器宽度适应方盒宽度 */
  line-height: 1.2; /* 设置价格和涨跌幅行距 */
}
/* 价格样式 */
#selected-data-box .price {
  font-size: 20px;
  color: #28a745;
  font-weight: bold;
}
/* 涨跌幅样式 */
#selected-data-box .change-rate {
  font-size: 20px;
  color: #dc3545;
  font-weight: bold;
}
