/* 基础样式 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}
#timeline-header {
  border: none;
  box-shadow: none;
  background-color: transparent; /* 或使用页面背景色 */
  margin: 0;
  padding: 0;
}
#timeline-date {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  text-align: left;
}
#news-list {
  position: relative;
  margin: 0;
  padding: 10px;
  list-style: none;
}
/* 时间线样式 */
.news-item {
  position: relative;
  padding: 10px 0; /* 调整上下边距 */
  border-left: 3px solid #007bff;
  margin-left: 20px;
  cursor: pointer; /* 添加鼠标指针样式 */
}
.news-item .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.news-item .text-content {
  flex: 1;
}
.news-item h4 {
  margin: 0 0 0 0;
  font-size: 1.2em;
  color: #000;
}
.news-item p {
  margin: 0;
  color: #666;
}
.news-item .publish-time {
  position: absolute;
  left: -80px;
  top: 10px;
  width: 60px;
  text-align: right;
  font-size: 0.9em;
  color: #999;
}
.news-item img {
  max-width: 100px;
  max-height: 75px;
  border-radius: 5px;
  margin-top: 0; /* 设置图片上边距 */
  margin-bottom: 0; /* 设置图片下边距 */
  margin-left: 10px;
}
/* 悬停样式 */
.news-item:hover {
  background-color: #f1f1f1;
  border-left-color: #0056b3;
}
/* 模态弹窗样式 */
#news-details-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
#news-details-modal .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
#news-details-modal .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5em;
  cursor: pointer;
}
#news-details p {
  font-size: 1em;
  line-height: 1.6;
  color: #333;
}
#news-details img {
  max-width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}
#news-details video {
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}
#news-details {
  height: 600px;
  overflow: auto;
  padding: 20px;
}
/* 日期标题样式 */
#news-list h3 {
  font-size: 1.5em; /* 调整字体大小 */
  margin: 0 0 10px 0px; /* 设置上下边距和左边距 */
  padding: 0; /* 设置内边距 */
  font-weight: bold; /* 设置字体加粗 */
}
/* 响应式设计 */
@media (max-width: 768px) {
  .news-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 10;
    border-left: none;
    border-top: 3px solid #007bff;
  }
  .news-item .publish-time {
    position: relative;
    left: 0;
    width: auto;
    text-align: left;
    margin-bottom: 10px;
  }
  .news-item .content {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }
  .news-item img {
    margin-left: 0;
    margin-top: 10px;
    max-width: 100%;
    max-height: none;
  }
  #news-details {
    height: 400px; /* 手机端高度 */
  }
}
