#selected-data-box {
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 5px; /* 调整内边距 */
  margin-bottom: 20px;
  width: 400px; /* 调整宽度 */
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}
#selected-data-box strong {
  display: block;
  font-size: 24px;
  color: #333;
}
#selected-data-box .stock-name {
  font-size: 18px;
  color: #555;
}
#selected-data-box .price-change-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
#selected-data-box .price {
  font-size: 20px;
  color: #28a745;
  font-weight: bold;
}
#selected-data-box .change-rate {
  font-size: 20px;
  color: #dc3545;
  font-weight: bold;
}
